<div class = "task">
something 
	<div style="float:left;">
		{{task.taskName}}
		<div>
			{{task.assignedUser}} | Status: {{task.completed}}
		</div>
	</div>	
	<div >
		<input type = "submit" value = "assign" ng-click = "hideAddObservers = !hideAddObservers">
		<input type = "submit" value = "completed" ng-click = "$parent.completeTask(teamName,task._id)">
	</div>
    <form ng-show = "hideAddObservers">
        Name:<input type="text" ng-model="observer">
        <input type ="submit" value = "add observer" ng-click="assignUser(teamName,task._id,observer)">
    </form>
</div>
